name: CodSpeed

on:
  push:
    branches:
      - "master"
  pull_request:
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  codspeed:
    name: Run benchmarks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build C++ benchmarks
        run: |
          mkdir -p build && cd build
          cmake -DCODSPEED_MODE=simulation -DCMAKE_BUILD_TYPE=RelWithDebInfo ..
          make -j$(nproc)

      - name: Run C++ benchmarks
        uses: CodSpeedHQ/action@v4
        with:
          mode: simulation
          run: ./build/sha1_benchmark
